:root {
    --l-marquee-height: 200px;
    --l-header-height-s: 58px;
    --l-header-height-m: 64px;
}

.l-container {
    width: 100%;
    box-sizing: border-box;
    /* margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

.l-first-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    row-gap: 20px;
    background-color: #e6e6e6;
}

.l-banner {
    width: 100%;
    height: calc(100vh - var(--l-header-height-s));
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.l-banner-bg {
    /* background-image: linear-gradient(to left, teal 10%, white 100%); */
    background-image: radial-gradient(circle at bottom left, #1a49ba, #09f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: -2;
}

.l-banner-h {
    direction: rtl;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.l-banner-p {
    direction: rtl;
    font-size: 1.1rem;
    color: white;
    text-align: center;
}

.l-road-map-container {
    overflow: hidden;
    height: fit-content;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.l-road-map-header {
    text-align: center;
    direction: rtl;
    margin-bottom: 30px;
}

.l-road-map-text {
    text-align: center;
    direction: rtl;
    margin-bottom: 30px;
}

.l-row3 {
    width: 100%;
    box-sizing: border-box;
}

.l-row4 {
    width: 100%;
    box-sizing: border-box;
}

.l-text-box-h {
    text-decoration: underline;
    max-width: 260px;
    direction: rtl;
    font-size: 1.7rem;
}

.l-text-box-p {
    font-size: 1rem;
    height: fit-content;
    max-width: 260px;
    direction: rtl;
    color: #8a8a8a;
}

.l-swiper-container {
    padding-bottom: 50px;
    min-height: 580px;
}

.l-swiper-bg-wrapper {
    position: relative;
    /* height: calc(100vh - var(--l-marquee-height)); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    /* background-image: linear-gradient(to left, #ffe78f, #fff3ca); */
    /* background-image: linear-gradient(to left, #ffad42, #ffda54); */
}

.l-swiper-bg {
    /* background-color: #1a49ba; */
    background-color: #ffda54;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 94px;
}

.l-swiper-bg-circle-container {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 94px;
    overflow: hidden;
}

.l-swiper-bg-circle-wrapper {
    width: calc(279.2*1vw);
    height: calc(279.2*1vw);
    position: absolute;
    bottom: auto;
    top: 0;
    left: calc(19.46667*1vw);
    right: auto;
    transform: translateY(-50%);

    /* background-color: #09f; */
    background-color: #ffad42;
    border-radius: 50%;
}

.l-swiper-bg-circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #09f;
}

.l-our-counselor-title-wrapper {
    width: 100%;
    height: var(--l-marquee-height);
    padding: 0px 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.l-our-counselor-title {
    width: 400px;
    height: var(--l-marquee-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 3.5rem;
    font-weight: 300;
    direction: rtl;
}

.l-our-counselor-motto {
    font-size: 1.2rem;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

}

@media (min-width: 600px) {     /* sm */
    .l-banner {
        height: calc(100vh - var(--l-header-height-m));
        padding: 10% 10%;
        row-gap: 0.5rem;
        align-items: end;
    }

    .l-banner-h {
        direction: rtl;
        font-size: 3rem;
    }
    
    .l-banner-p {
        direction: rtl;
        font-size: 1.5rem;
    }

    .l-first-row {
        flex-direction: row;
        column-gap: 10px;
    }

    .l-road-map-container {
        /* height: 100vh; */
        padding: 0px;
    }

    .l-swiper-container {
        padding-left: calc(10% - 20px);
        padding-right: calc(10% - 20px);
    }

    .l-swiper-bg {
        left: calc(50vw - 20.83333*1vw);
        bottom: 0;
    }

    .l-swiper-bg-circle-container {
        height: 100%;
        bottom: unset;
    }

    .l-swiper-bg-circle-wrapper {
        width: calc(109.51389*1vw);
        height: calc(109.51389*1vw);
        bottom: 0;
        top: unset;
        left: auto;
        right: 0;
        transform: translateX(50%) translateX(calc(7.29167*1vw));
    }

    .l-our-counselor-title {
        align-items: start;
        font-size: 4rem;
    }
}

@media (min-width: 750px) {     /* md 960px */
    .l-banner {
        height: calc(100vh - var(--l-header-height-m));
        padding: 10% 5%;
        row-gap: 0.5rem;
        align-items: end;
    }

    .l-banner-h {
        direction: rtl;
        font-size: 3.5rem;
        max-width: 21ch;
        text-align: unset;
    }

    .l-banner-p {
        direction: rtl;
        font-size: 1.5rem;
    }

    .l-first-row {
        justify-content: center;
        padding: 50px 25px;
        flex-direction: row;
        column-gap: 30px;
    }

    .l-swiper-container {
        padding-left: calc(5% - 20px);
        padding-right: calc(5% - 20px);
    }

    .l-swiper-bg {
        left: calc(50vw - 20.83333*1vw);
        bottom: 0;
    }

    .l-swiper-bg-circle-container {
        height: 100%;
        bottom: unset;
    }

    .l-swiper-bg-circle-wrapper {
        width: calc(109.51389*1vw);
        height: calc(109.51389*1vw);
        bottom: 0;
        top: unset;
        left: auto;
        right: 0;
        transform: translateX(50%) translateX(calc(7.29167*1vw));
    }

    .l-road-map-container {
        padding: 0px 5%;
    }
}

/* @media (min-width: 768px) {
    .l-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .l-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .l-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .l-container {
        max-width: 1536px;
    }
} */