.oc-container {
    width: 100%;
    box-sizing: border-box;
}

.oc-banner {
    height: calc(60vh - var(--l-header-height-s));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10% 10%;

    flex-direction: column;
    row-gap: 0.5rem;
}

.oc-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle at bottom left, #1a49ba, #09f);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.oc-banner-bg-img {
    position: absolute;
    height: 90%;
    aspect-ratio: 1;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 20%;
}

.oc-banner-h {
    direction: rtl;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.oc-banner-p {
    direction: rtl;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

@media (min-width: 600px) {     /* sm */
    .oc-banner {
        height: calc(60vh - var(--l-header-height-m));
        align-items: start;
    }

    .oc-banner-h {
        font-size: 3rem;
    }
    
    .oc-banner-p {
        font-size: 1.5rem;
    }
}

@media (min-width: 750px) {     /* md */
    .oc-banner {
        padding: 10% 10%;
    }

    .oc-banner-bg-img {
        height: 90%;
        left: 0;
        transform: translateX(12%);
    }

    .oc-banner-h {
        font-size: 3.5rem;
        text-align: unset;
    }

    .oc-banner-p {
        text-align: unset;
    }
}